<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Uglies-Only</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="title-container">
        <span class="title">Uglies-Only</span>
    </div>
    <div class="explanation-container">
        <p class="explanation">Do you feel left out of other dating apps like Tinder or Bumble? Dating has become so visual these days, with left and right swipes. What if there was a dating website where looks didn't really matter? What if you don't really care about looks? This is a platform for likeminded people.</p>
    </div>
    <div class="smaller-title-container">
        <p class="smaller-title">
            See if you qualify, upload a picture of yourself!
        </p>
    </div>
    <div class="upload">
        <form action="/upload-image" method="POST" enctype="multipart/form-data">
            <div class="face-upload">
                <input type="file" class="custom-file-input" name="image" id="image">
                <label class="custom-file-label" for="image">Select Image</label>
            </div>
            <button type="submit" class="face-submit-button button"><span>Upload</span></button>
        </form>
    </div>
    <div class="ugly-duckling-container">
        <img class="ugly-duckling" src="{{ url_for('static', filename='images/ugly-duckling.png') }}">
    </div>
</body>
</html>
